body{
    margin: 0;
    padding: 0;
}

main{
    background-color: #E6E6E6;
    display: flex;
    justify-content: center;
    height: 1000px;
}

a{
    color: #000;
    text-decoration: none;
}

#container{
    background-color: #B7B7B7;
    display: flex;
    justify-content: space-around;
    align-self: center;
    height: 300px;
    width: 80%;
}

.botao{
    background-color: #FFF;
    width: 20%;
    height: 140px;
    text-align: center;
    align-self: center;
    padding: 40px;
}