*{
    margin: 0;
    padding: 0;
}

.linha-vermelha-superior {
    
    height: 2.5vh;
    background-color: #E30613;
    color: #fff;

    display: flex;

    justify-content: end;
    align-items: center;

    /* padding-right: 20em; */

    & p{
        position: relative;
        top: 5%;
    }
}

.linha-vermelha-superior > .espacamento:not(:last-child){
    margin-right: 2%;
}

.espacamento1{
    margin-right: 0.5%;
}

a{
    text-decoration: none;
    color: #fff;
}

.top img{
    height: 1em;
}

.top{
    position: relative;
    top: 2%;

    border-left: 1px solid #fff;
    padding-left: 1%;
    height: 1em;
}

.top:not(:last-child){
    padding-right: 1%;
}

.linkedin img{
    position: relative;
    height: 1.4em;
    bottom: 30%;
}

.whatsapp{
    margin-right: 1%;
}


.header-inf{
    display: flex;
    justify-content: center;

    position: relative;
    top: 5.2vh;

    margin-bottom: 10vh;

    & img{
        width: 150px;
        margin-right: 0.8%;
    }
}

.texto-header-inf{

    width: 50%;

    display: flex;
    align-items: center;
    border-bottom: 2px solid #E30613;

    & p{
        position: relative;
        bottom: 24%;
        transform: translateY(50%);
        margin-right: 2%;
    }

    & p:first-child{
        margin-left: 1.5%;
    }

    & .sou-aluno{
        position: relative;
        left: 8%;
        width: 11%;
        height: 70%;

        border-left: 3px solid;

        padding-left: 5%;

        & p{
            position: relative;
             bottom: 30%;
        }
    }
}