*{
    margin: 0;
}

.container{
    height: 80vh;

    background-color: #e6e6e6;

    /* display: flex;
    flex-direction: column;
    align-items: center; */


    padding-left: 21%;
    padding-right: 21%;
    padding-top: 3%;

    & .titulo{

        & h1{
            color: #CB0C0F;
            font-size: 2.5em;
            margin-bottom: 2vh;
        }

        & h3{
            font-size: 2em;
            margin-bottom: 2vh;
        }
    }
    
    & .divisoria_vermelha{
        width: 100%;
        height: 2.5%;

        background-color: #B91D32;

        margin-bottom: 2vh;
    }

    & .texto1 {
        margin-bottom: 2vh;

        & p{
            font-size: 1.55em;
        }
    }

    & .input1{
        & p{
            font-size: 1.6em;
            margin-bottom: 2vh;
        }

        & input{
            width: 100%;
            height: 4vh;

            font-size: 2em;

            margin-bottom: 2vh;
        }
    }

    & .input2{
        & p{
            font-size: 1.6em;
            margin-bottom: 2vh;
        }

        & input{
            width: 100%;
            height: 4vh;

            font-size: 2em;

            margin-bottom: 2vh;
        }
    }

    & .input3{
        & p{
            font-size: 1.6em;
            margin-bottom: 2vh;
        }

        & input{
            width: 100%;
            height: 4vh;

            font-size: 2em;

            margin-bottom: 2vh;
        }
    }

    & .input4{
        & p{
            font-size: 1.6em;
            margin-bottom: 2vh;
        }

        & input{
            width: 100%;
            height: 4vh;

            font-size: 2em;

            margin-bottom: 2vh;
        }
    }

    & button{
        width: 20%;
        height: 6%;

        margin-left: 50%;

        transform: translateX(-50%);

        border: 1px solid #B91D32;

        color: #fff;
        background-color: #B91D32;

        font-size: 1.4em;
    }
}