/* *{border: 1px solid red;} */

body{
    margin: 0;
    padding: 0;
    background-color: #E6E6E6;
    font-family: "Montserrat", sans-serif;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

article{
    width: 80%;
    text-align: center;
}

#cabecalho-title{
    font-size: 24px;
}

#cabecalho-text{
    font-size: 20px;
}

#cabecalho-login{
    background-color: #827D7E;
    color: #fafafa;
    font-size: 25px;
    letter-spacing: 1px;
    border: none;
    padding: 10px 50px;
    border-radius: 4px;
    transition: all ease-in-out 200ms;
}

#cabecalho-login:hover{
    background-color: #6b6667;
    cursor: pointer;
    color: #fafafa;
    transition: all ease-in-out 200ms;
}

#pesquisa{
    width: 80%;
    text-align: center;
}

#pesquisa-vagas{
    width: 60%;
    border-radius: 50px;
    color: #8D8D8D;
    background-color: #D4D4D4;
    padding-left: 20px;
}

#vagas-disponiveis{
    font-size: 36px;
    margin:50px
}

#vagas-container{
    width: 20%;
    border-right: 2px solid black;
    margin-top: 80px;
}

#vagas-info{
    padding: 5%;
    width: 40%;
    margin-top: 50px;
}

.card{
	margin-bottom: 6%;
}