body {
    margin: 0;
    padding: 0;
    background-color: #E6E6E6;
    font-family: "Montserrat", sans-serif;
}

main {
    background-color: #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    padding: 20px; 
}

a {
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    background-color: #B7B7B7;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    /* mudei pra grid pois a responsiidade com o flex ficava bugada. */
    gap: 20px; 
    padding: 20px; 
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto;
    border-radius: 8px; 
}

.botao {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 140px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    transition: transform 0.2s; /* Exemplo */
}

.botao:hover {
    transform: scale(1.05); 
}

img {
    max-width: 100%;
    height: auto;
}

h3 {
    margin-top: 10px;
    font-size: 1rem;
}

@media (max-width: 600px) {
    main {
        padding: 10px;
    }
    #container {
        grid-template-columns: 1fr;
    }
    .botao {
        height: auto;
        padding: 20px;
    }
}