body{
    margin: 0;
    padding: 0;
    background-color: #E6E6E6;
    font-family: "Montserrat", sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 5% 10%;
}

.row{
    padding: 5px;
}
.value{
    background-color: #D9D9D9;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;

}

/* Abaixo é para deixar aqueles 3 elementos "juntos"  */
.ncc-row{
    display: flex;
    justify-content: space-between;
}


@media(max-width: 900px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        padding: 5% 10%;
    }
}
/* 
configurando o botão de ajuda: */

#v1{
    background-color: #E6E6E6;
    border: 1px solid #B91D32;
    color: #B91D32;
    font-weight: 600;
    font-size: 12pt;
    padding: 5px 8px;
}

#my-popover{
    background-color: #242424;
    border: none;
    color: #fff;
    padding: 20px 50px;
    text-align: center;
    font-size: 15pt;
}

.POP-BOTOES{
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-height: 20px;
}

#cancel{
    background-color: #242424;
    border: 1px solid #B91D32;
    color: #B91D32;
    border-radius: 3px;
    font-size: 12pt;
    padding: 5px 8px;
}

#send{
    background-color: #242424;
    border: 1px solid #105F00;
    color: #105F00;
    border-radius: 3px;
    font-size: 12pt;
    padding: 5px 8px;
}

button:hover{
    cursor: pointer;
}
